<h2>Create <%= name %></h2>
<form id="<%= name %>_create_form" class="form">
  <% _.each(attrs, function (attr) { %>
  <div class="form-group">
    <% if (attr.type === "boolean") { %>
    <label>
      <input type="checkbox" />
      <%= attr.name %>
    </label>
    <% } else { %>
    <label for="<%= attr.name %>"><%= attr.name %></label>
    <input type="<%= attr.type %>" class="form-control" id="<%= attr.name %>" placeholder="Enter <%= attr.name %>" value="<% print(['<','%','=', ' '].join('') + attr.name + [' ','%','>'].join('')); %>"/>
      <% } %>
  </div>
  <% }); %>

  <div>
    <button type="submit" id="save" class="btn btn-primary">Create</button>
  </div>
  <div>
    <a href="#/<%= name %>"><< Back to list</a>
  </div>
</form>

